<%= form_with(model: @instagram, local: true) do |form| %>
<% if @instagram.errors.any? %>
    <div id="error_explanation">
      <h2><%= @instagram.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @instagram.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div id="form-div">
  <form class="form" id="form1">

    <p class="name">
      <%= form.text_field :title,class:"validate[required,custom[onlyLetter],length[0,100]] feedback-input",placeholder:"Title",id:"title" %>
    </p>

    <p class="text">
      <%= form.text_field :content,class:"validate[required,length[6,300]] feedback-input",id:"comment",placeholder:"Comment" %>
    </p>

    <p>
      <%= form.label :SelectImage,class:"image_label" %>
      <%= image_tag(@instagram.image.url) if @instagram.image.url  %>
      <%= form.file_field :image, id: :feed_image %>
    </p>


    <div class="submit">
      <%= form.submit class:"ease",value:"SEND",id:"button-blue" %>
      <div class="ease" ></div>
    </div>
  </form>
</div>
<% end %>
