<h1 class="index_h">Posted list</h1>

<div class="kousin">
      <table class="list_table">

    <% @instagrams.each do |instagram| %>
      <tr>
        <td>
      <div class="box29">
        <div class="box-title"><%= instagram.user.name %></div>
            <p><%= instagram.title %></p>
        </td>

          <td><%= link_to 'show',instagram_path(instagram.id), class:"show_square_btn1" %></td>
        <% if instagram.user_id == current_user.try(:id) %>
          <td><%= link_to 'Edit', edit_instagram_path(instagram.id),data:{confirm: '編集して大丈夫ですか'},class:"show_square_btn2" %></td>
          <td><%= link_to 'Delete', instagram_path(instagram.id), method: :delete, data:{confirm: '削除して大丈夫ですか'},class:"show_square_btn3" %></td>
        <% end %>
       </tr>
      <% end %>
      </table>
      </div>
</div>
      <br>
